@page "/learnblazor/bindprop"

<h3>Product</h3>
Name: @Product.Name<br />
Active: @Product.IsActive<br />

@code {
	Sharp_Models.BlazorModels.Demo_Product Product = new()
		{
			Id = 1,
			Name = "Ehlullah Karakurt",
			IsActive = true
		};
}
